<!DOCTYPE html>
<html>
	<head>
		<title>Soundpad Soundboard</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<link rel="stylesheet" href="build/css/control.css">
		<link rel="icon" href="assets/img/ovrt_sp_icon.png">

		<script src="build/js/control.js"></script>
	</head>
	<body>
		<main>
			<div class="modal-background" v-if="modal_visible == 1">
				<div class="modal-dialog">
					<h1>Bridge update required</h1>
					<span>Please follow the instructions at <a href="https://github.com/jangxx/OVRT_Soundpad">https://github.com/jangxx/OVRT_Soundpad</a> to install the latest version of the bridge.</span>
					<div v-if="bridge_capabilities.show_github_url" style="margin-top: 20px">
						<div class="button green" @click="open_github_url()">Open URL in browser</div>
					</div>
				</div>
			</div>

			<div class="modal-background" v-if="modal_visible == 2">
				<div class="modal-dialog">
					<h1>Bridge app is not running</h1>
					<span>Please follow the instructions at <a href="https://github.com/jangxx/OVRT_Soundpad">https://github.com/jangxx/OVRT_Soundpad</a> on how to install the bridge app.</span>
				</div>
			</div>

			<div class="modal-background" v-if="modal_visible == 3">
				<div class="modal-dialog">
					<h1>Soundpad is not running</h1>
					<span>
						This app only works in conjunction with <a href="https://leppsoft.com/soundpad/en/">Soundpad</a>. 
						Please start it in order to use this app.
						It may take up to five seconds for this message to disappear.
					</span>
				</div>
			</div>

			<div class="modal-background" v-if="modal_visible == 4">
				<div class="modal-dialog">
					<h1>Bridge version mismatch</h1>
					<span>
						The bridge version is higher than the version expected by this app. 
						This can only happen if you're a beta tester and are not running the development version or if the Steam Workshop messed up somehow.
						Either way, we can not continue like this, please start the correct app version or restart OVR Toolkit to download the latest version from the Workshop.
					</span>
				</div>
			</div>

			<div v-if="display_soundlist" class="overlay select-sound-overlay">
				<div class="modal-background" @click.self="display_soundlist = false"></div>
				<div class="overlay-box">
					<input v-model="sound_search_input" class="sound-search-input" placeholder="Search for sounds..." ref="sound_search_input">
					<div class="soundlist" ref="soundlist" @scroll="update_soundlist_scroll()">
						<div class="soundlist-item" @click="selectSound(null)">NONE</div>
						<div class="soundlist-item" v-for="sound_id in soundlist_order" :key="sound_id" @click="selectSound(sound_id)">{{ full_soundlist[sound_id].title }}</div>
					</div>
					<div @click="soundlist_scroll_up()" class="scroll-button" style="top: 70px" v-if="soundlist_scroll.scrollTop != 0">&#9650;&nbsp;&#9650;&nbsp;&#9650;</div>
					<div @click="soundlist_scroll_down()" class="scroll-button" style="bottom: 20px" v-if="soundlist_scroll.scrollTop != soundlist_scroll.scrollHeight - soundlist_scroll.offsetHeight">&#9660;&nbsp;&#9660;&nbsp;&#9660;</div>
				</div>
			</div>

			<div v-if="confirm_clear_page_visible" class="overlay">
				<div class="modal-background" @click.self="confirm_clear_page_visible = false"></div>
				<div class="overlay-box dialog-box" style="max-width: 500px; width: 100%">
					<div>
						Do you really want to clear the whole page, including non-visible items? This action is non reversible.
					</div>
					<div class="dialog-buttons">
						<div class="button blue" @click="clearPage()" style="margin-right: 5px">Clear Page</div>
						<div class="button red" @click="confirm_clear_page_visible = false">Cancel</div>
					</div>
				</div>
			</div>

			<div v-if="fill_page_modal_visible" class="overlay">
				<div class="modal-background" @click.self="fill_page_modal_visible = false"></div>
				<div class="overlay-box dialog-box align-left" style="max-width: 800px; width: 100%">
					<div style="margin-bottom: 20px">
						This function allows you to add all your sounds to a board with very few clicks.
						First select the category that you want to take the sounds from.
						Then decide on a mode; You can decide to ignore duplicates on other pages or take them into consideration and skip them while addding.
						Finally you can decide what to do if there are not enough pages to fit all sounds you want to add.
						Either the remaining sounds are skipped, put onto the next pages or new pages are created at the end to fit all of them.
					</div>
					<label for="fillpage-categories-select">Use sounds from this category</label>
					<select v-model="fill_page.selected_category" id="fillpage-categories-select" style="margin-bottom: 10px">
						<option v-for="(category, index) in display_categories" :key="index" :value="index">
							{{ category.name }}
						</option>
					</select>

					<label for="fillpage-mode-select">Duplicate handling</label>
					<select v-model="fill_page.selected_dup_mode" id="fillpage-mode-select" style="margin-bottom: 10px">
						<option value="ignore">Ignore duplicates</option>
						<option value="skip">Skip duplicates</option>
					</select>

					<label v-if="!fill_page_result.all_sounds_fit" for="fillpage-page-select">Page overflow handling</label>
					<select v-if="!fill_page_result.all_sounds_fit" v-model="fill_page.selected_page_mode" id="fillpage-page-select" style="margin-bottom: 10px">
						<option value="skip">Skip (don't add)</option>
						<option value="next_page">Add to next page(s)</option>
						<option value="create_pages">Create new page(s)</option>
						<option value="next_create_pages">Add to next page(s) and create new ones</option>
					</select>

					<div>
						<b>Resulting actions:</b>
						<ul>
							<li><i>Sounds in category:</i> {{ fill_page_result.all_sounds.length }}</li>
							<li><i>Sounds to add to this page:</i> {{ fill_page_result.add_sounds.length }}</li>
							<li v-if="!fill_page_result.all_sounds_fit">
								<i>Because these sounds do not all fit on this page,</i>
								{{ fill_page_result.final_add_sounds.length }}
								<i>sounds will actually be added and</i>
								{{ fill_page_result.required_additional_pages }}
								<i v-if="fill_page_result.required_additional_pages == 1">additional page is going to be created.</i>
								<i v-else>additional pages are going to be created.</i>
							</li>
						</ul>
					</div>

					<div class="dialog-buttons">
						<div class="button blue" @click="fillPage()" style="margin-right: 5px">Fill pages</div>
						<div class="button red" @click="fill_page_modal_visible = false">Cancel</div>
					</div>
				</div>
			</div>

			<div id="soundboard">
				<div v-for="row in rows" class="button-row">
					<div v-for="col in columns" class="soundboard-button" :style="{'background-color': 'hsl(' + ((((row-1) * columns + col-1) / (rows*columns)) * 360) + ', 65%, 50%)'}" :class="{'disabled': !edit_mode && full_board[col-1][row-1] == null }" @click="sendClick(col-1, row-1)">
						<div v-if="edit_mode" class="edit-mode-overlay"><div>&#x270E;</div></div>
						<div class="soundboard-button-content" :class="{ 'overlay-visible': edit_mode }">
							<div class="title">{{ full_board[col-1][row-1] !== null ? full_board[col-1][row-1].title : "" }}</div>
						</div>
					</div>
				</div>
			</div>

			<div id="controls">
				<div v-if="!edit_mode" style="float: left">
					<div class="button small red" @click="stopSound()" style="margin-right: 5px">Stop</div>
					<div class="button small blue" @click="pauseSound()">Play/Pause</div>
				</div>
				<div v-else style="float: left">
					<div class="button small red" @click="confirmClearPage()" style="margin-right: 5px">Clear Page</div>
					<div class="button small green" @click="showFillPageModal()">Fill Page</div>
				</div>
				<div style="float: right" v-if="pages > 1">
					<div v-for="page in pages" class="button small narrow" style="margin-left: 5px" :key="page" :style="{'background-color': 'hsl(' + (((page-1)/pages) * 360) + ', 65%, ' + ((page-1 == current_page) ? '50%' : '20%') + ')'}" @click="current_page = page-1">{{ page }}</div>
				</div>
			</div>
		</main>
	</body>
</html>