<!DOCTYPE html>
<html>
	<head>
		<title>Soundpad Config</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<link rel="stylesheet" href="build/css/index.css">
		<link rel="icon" href="assets/img/ovrt_sp_icon.png">

		<script src="build/js/index.js"></script>
	</head>
	<body>
		<main>
			<div class="modal-background" v-if="!connected">
				<div class="modal-dialog">
					<h1>Bridge app is not running</h1>
					<span>Please follow the instructions at <a href="https://github.com/jangxx/OVRT_Soundpad">https://github.com/jangxx/OVRT_Soundpad</a> on how to install the bridge app.</span>
				</div>
			</div>

			<div class="modal-background" v-if="connected && !sp_connected">
				<div class="modal-dialog">
					<h1>Soundpad is not running</h1>
					<span>
						This app only works in conjunction with <a href="https://leppsoft.com/soundpad/en/">Soundpad</a>. 
						Please start it in order to use this app.
						It may take up to five seconds for this message to disappear.
					</span>
				</div>
			</div>

			<div class="launch-button button" @click="openOverlay()" v-if="overlay_id == -1">Open Soundboard</div>
			<div class="launch-button button red" @click="closeOverlay()" v-if="overlay_id != -1">Close Soundboard</div>

			<h1>Settings</h1>

			<div class="settings">
				<div class="setting-container">
					<h2>Rows</h2>
					<div class="settings-inner">
						<div class="button red small" @click="modRows(-1)">&minus;</div>
						<div class="settings-value">{{ rows }}</div>
						<div class="button green small" @click="modRows(1)">+</div>
					</div>
				</div>
				<div class="setting-container">
					<h2>Columns</h2>
					<div class="settings-inner">
						<div class="button red small" @click="modColumns(-1)">&minus;</div>
						<div class="settings-value">{{ columns }}</div>
						<div class="button green small" @click="modColumns(1)">+</div>
					</div>
				</div>
				<div class="setting-container">
					<h2>Edit Mode</h2>
					<div class="settings-inner">
						<round-switch v-model="edit_mode" @input="toggleEditMode"></round-switch>
						<div class="label">Turning on Edit Mode allows you to assign sounds to the different soundboard buttons. Simply click on a button on the soundboard and select a song from the popup that opens.</div>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>