<!DOCTYPE html>
<html>
	<head>
		<title>Soundpad Config</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<link rel="stylesheet" href="build/css/index.css">
		<link rel="icon" href="assets/img/ovrt_sp_icon.png">

		<script src="build/js/index.js" charset="UTF-8"></script>
	</head>
	<body>
		<main @mousemove="interaction">
			<div class="modal-background" v-if="modal_visible == 1">
				<div class="modal-dialog">
					<h1>Bridge update required</h1>
					<span>Please follow the instructions at <a href="https://github.com/jangxx/OVRT_Soundpad">https://github.com/jangxx/OVRT_Soundpad</a> to install the latest version of the bridge.</span>
					<div v-if="bridge_capabilities.show_github_url" style="margin-top: 20px">
						<div class="button green" @click="open_github_url()">Open URL in browser</div>
					</div>
				</div>
			</div>

			<div class="modal-background" v-if="modal_visible == 2">
				<div class="modal-dialog">
					<h1>Bridge app is not running</h1>
					<span>Please follow the instructions at <a href="https://github.com/jangxx/OVRT_Soundpad">https://github.com/jangxx/OVRT_Soundpad</a> on how to install the bridge app.</span>
				</div>
			</div>

			<div class="modal-background" v-if="modal_visible == 3">
				<div class="modal-dialog">
					<h1>Soundpad is not running</h1>
					<span>
						This app only works in conjunction with <a href="https://leppsoft.com/soundpad/en/">Soundpad</a>. 
						Please start it in order to use this app.
						It may take up to five seconds for this message to disappear.
					</span>
				</div>
			</div>

			<div class="modal-background" v-if="modal_visible == 4">
				<div class="modal-dialog">
					<h1>Bridge version mismatch</h1>
					<span>
						The bridge version is higher than the version expected by this app. 
						This can only happen if you're a beta tester and are not running the development version or if the Steam Workshop messed up somehow.
						Either way, we can not continue like this, please start the correct app version or restart OVR Toolkit to download the latest version from the Workshop.
					</span>
				</div>
			</div>

			<div class="launch-button button" @click="openOverlay()" v-if="overlay_id == -1">Open Soundboard</div>
			<div class="launch-button button red" @click="closeOverlay()" v-if="overlay_id != -1">Close Soundboard</div>

			<h1>Settings</h1>

			<div class="settings">
				<div class="setting-container">
					<h2>Rows</h2>
					<div class="settings-inner">
						<div class="button red small" @click="modRows(-1)">&minus;</div>
						<div class="settings-value">{{ rows }}</div>
						<div class="button green small" @click="modRows(1)">+</div>
					</div>
				</div>
				<div class="setting-container">
					<h2>Columns</h2>
					<div class="settings-inner">
						<div class="button red small" @click="modColumns(-1)">&minus;</div>
						<div class="settings-value">{{ columns }}</div>
						<div class="button green small" @click="modColumns(1)">+</div>
					</div>
				</div>
				<div class="setting-container" style="margin: 0% 25%">
					<h2>Pages</h2>
					<div class="settings-inner">
						<div class="button red small" @click="modPages(-1)">&minus;</div>
						<div class="settings-value">{{ pages }}</div>
						<div class="button green small" @click="modPages(1)">+</div>
					</div>
				</div>
				<div class="setting-container">
					<h2>Edit Mode</h2>
					<div class="settings-inner">
						<round-switch v-model="edit_mode" @input="toggleEditMode"></round-switch>
						<div class="label">Turning on Edit Mode allows you to assign sounds to the different soundboard buttons. Simply click on a button on the soundboard and select a song from the popup that opens.</div>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>