main {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-around;
	height: 100%;
}

main .button-row {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.button {
	height: 80%;
	flex-grow: 1;
	flex-basis: 0;
	margin: 0 10px;
	color: white;
	transition: transform 0.3s;
}