main {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-around;
	height: 100%;
}

main .button-row {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: space-around;
	min-height: 0;
	flex-basis: 0;
}

.button {
	z-index: 100;
	height: 80%;
	flex-grow: 1;
	flex-basis: 0;
	margin: 0 20px;
	color: white;
	transition: transform 0.3s;
	min-width: 0;
	position: relative;
}

.button-content {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	min-width: 0;
	padding: 10px;
	box-sizing: border-box;
}

.button-content .title {
	word-wrap: break-word;
	font-size: 20px;
	max-width: 100%;
	box-sizing: border-box;
}

.edit-mode-overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	font-size: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	min-width: 0;
}

.edit-mode-overlay > div {
	white-space: nowrap;
	overflow: hidden;
	background: rgba(0,0,0,0.5);
	padding: 20px;
	border-radius: 20px;
	line-height: 60px;
}

.overlay {
	z-index: 1000;
	position: fixed;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.overlay-background {
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	width: 100%;
	height: 100%;
}

.overlay-box {
	position: relative;
	box-sizing: border-box;
	width: 400px;
	background-color: #666;
	padding: 30px;
	max-height: 100%;
	overflow-y: auto;
	/* pointer-events: none; */
}

.soundlist-item {
	background-color: #999;
	color: white;
	padding: 20px;
	text-align: center;
	margin-bottom: 20px;
	font-size: 20px;
	cursor: pointer;
}

.soundlist-item:hover {
	text-decoration: underline;
}

.soundlist-item:last-of-type {
	margin-bottom: 0;
}